Repository Amaris-Digital/fariji, pull requests merged in 2023-07, with the labels that each got.

#86 mitch-ian/graphql documentation
  GraphQL.md
Labels: documentation

#89 mitch-ian/#80/app_installation
  client/src/__tests__/auth/registration.test.tsx
  client/src/components/auth/SignUpFour.tsx
  client/src/components/auth/SignUpOne.tsx
  client/src/components/auth/SignUpThree.tsx
  client/src/components/auth/SignUpTwo.tsx
Labels: client

#90 Tosh-Mackrine/#85/view user profile data
  GraphQL.md
  api/app/graphql/types/query_type.rb
  api/db/seeds.rb
  api/spec/graphql/query/profile_spec.rb
Labels: api
